<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Contacter Nous</title>
</head>
<body>
  <!--header-->
    <header class="header-top">
        <div class="card bg-dark text-white image-header">
            <div class="card-img-overlay">

              <nav class="navbar border-bottom">
                <div class="nav-items">
                    <a class="nav-logo" href="../index.html">Cui'zine</a>
                    <ul>
                        <li><a class="nav-links" href="../index.html">Accueil</a></li>
                        <li><a class="nav-links" href="./team.html">Equipe</a></li>
                        <li><a class="nav-links" href="./post.html">Blog</a></li>
                        <li><a class="nav-links" href="./contact.html">Contact</a></li>
                    </ul>
                </div>
                
            </nav>
                </div>
            <div class="row d-flex justify-content-center align-center p-5">
              <img class="logo-white " src="../img/logo_square_white.png" alt='logo'>
              <h1 class="text-center font-1">Nous contacter</h1>
            </div>
        </div>
    </header>
    <!--main-->
    <main class="container">
        
      <div class="row">
        <div class="col-10 pt-4">
          <h2 class="font-1">Contact</h2>
          <h3 class="font-1">Address</h3>
          <p>Station F</p>
          <p>5 Parvis Alan turing</p>
          <p>75013 Paris</p>
          <!--Embed Google map-->
          <div class="mapouter col-10"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=station%20f%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
          
        </div>
        
        <div class="col-2">
          <div class="row ">
            <div class="col ">
              <h3 class="mt-5">Recherche</h3>
              <div class="d-flex flex-column">
                <input type="text" placeholder="recherche..">
                <button type="button" class="btn btn-outline-dark btn-block " width="100%" name="submit">Ok</button>
              </div>
              <h3 class="mt-3">Newsletter</h3>
              <div class="d-flex flex-column">
                <input type="text" placeholder="E-mail...">
                <button type="button" class="btn btn-outline-dark btn-block " width="100%" name="submit">S'inscrire</button>
              <h3 class="mt-3">Partager</h3>
                <ul class="px-2">
                  <li class="fa fa-facebook-square dark px-2"></li>
                  <li class="fa fa-instagram  px-2"></li>
                  <li class="fa fa-youtube-play px-2"></li>
                  <li class="fa fa-twitter px-2"></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      </main>
      <!--footer-->
    <footer class="container text-white bg-dark" style="max-width:100%" style="height: 9rem">
      <div class="row d-flex space-between-evenly py-5 px-5">
        <div class="col-sm-4  d-flex flex-column">            
              <h5 >Categories</h5>
             <a class="text-light" href="#">Revues</a>
             <a class="text-light"href="#">Recettes</a>
             <a class="text-light"href="#">découvertes</a>                       
          </div>        
        <div class="col-sm-4 d-flex flex-column">
              <h5 class="">Archives</h5>
              <a class="text-light" href="#">2019</a>
             <a class="text-light" href="#">2018</a>
             <a class="text-light" href="#">2017</a> 
        </div>
          
          <div class="col-sm-4">
            <h3 class="mt-2">Newsletter</h3>
            <div class="d-flex  flex-column">
              <div><input type="text" placeholder="Newsletter">
                <button type="button" class="btn btn-outline-light btn-block " width="100%" name="submit">S'inscrire</button>  
              </div>
              <h3 class="mt-3">Partager</h3>
                <ul class="px-2 ">
                  <li class="fa fa-facebook-square light px-2 "></li>
                  <li class="fa fa-instagram  px-2"></li>
                  <li class="fa fa-youtube-play px-2"></li>
                  <li class="fa fa-twitter px-2"></li>
                </ul>         
            </div>
          </div>
    </footer>
</body>
</html>