<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Recipe</title>
</head>
<body>
  <!--header-->
    <header class="header-top">
        <div class="card bg-dark text-white image-recipe">
            <div class="card-img-overlay">

              <nav class="navbar border-bottom">
                <div class="nav-items">
                    <a class="nav-logo" href="../index.html">Cui'zine</a>
                    <ul>
                        <li><a class="nav-links" href="../index.html">Accueil</a></li>
                        <li><a class="nav-links" href="./team.html">Equipe</a></li>
                        <li><a class="nav-links" href="./post.html">Blog</a></li>
                        <li><a class="nav-links" href="./contact.html">Contact</a></li>
                    </ul>
                </div>
                
            </nav>
                </div>
            <div class="row d-flex justify-content-center align-center p-5">
              <h1 class="text-center font-1">Cui'zine</h1>
              <p class='text-center font-1'>Le mag cuisine</p>
            </div>
        </div>
    </header>
    <!--main-->
    <main class="container">

      <div class="row">
        <div class="col-3 pt-2 ">

          <h3 class="font-1 mb-5">Paëlla</h3>
          <div class="recipe-ingredients flex-shrink-1">
            <span>6 moules</span>
            <span>1/2 poulet</span>
            <span>125g de porc maigre</span>
            <span>60g de chorizo</span>
            <span>Amandes d'Espagne</span>
            <span>Amandes d'Espagne</span>
            <span>4 crevettes</span>
            <span>1/2 verre d'huile d'olive</span>
            <span>3 cuillères de vin</span>
            <br>
            <span>1 oignon</span>
            <br>
            <span>2 gousses d'ails</span>
            <br>
            <span>2 tomates</span>
            <br>
            <span>1 piment doux</span>
            <br>
            <span>250g de riz</span>
            <br>
            <span>Du persil</span>
            <br>
            <span>Poivre de Cayenne</span>
            <span>2 verres de bouillon</span>
            <span>Poivre noir</span>
            <span>Sel</span>
            <span>125g de petit pois</span>
       </div>
     </div>

        <div class="col-6 pt-2">

          <div class=" container  font-nav">
            <div class="row ">
              <div class="col d-flex justify-content-end ">
                <div class="mt-2">
                  
                  <p class="bg-secondary p-2 fa fa-stopwatch ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
                      <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
                    </svg> Preparation - 2h</p>
                  <p class="bg-secondary p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass" viewBox="0 0 16 16">
                      <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2h-7z"/>
                    </svg>Cuisson - 1h</p>
                </div>
              </div>
            </div>
          </div>
          

          <h5>Etape1</h5>
            <p>Verser la moitié de l'huile dans une très large poêle, y faire dorer le poulet, le porc et la saucisse jusqu'à mi-cuisson, puis les retirer.</p>
          <h5>Etape2</h5>
            <p>Pendant ce temps, faire ouvrir les moules et les coques dans le vin blanc avec 2 cuillères à soupe d'oignons émincés et de persil haché.
          </p>
          <h5>Etape3</h5>
            <p>Les mettre de côté et réserver le jus filtré.
          </p>
          <h5>Etape4</h5>
            <p>Rajouter les crevettes ou langoustines dans la poêle avec la viande, les faire sauter puis retirer le tout et réserver.
          </p>
          <h5>Etape5</h5>
            <p>Remettre un peu d'huile et faire suer l'oignon d'Espagne et 2 gousses d'ail émincées dans la poêle.
          </p>
          <h5>Etape6</h5>
            <p>Rajouter les tomates pelées et coupées, les piments émincés et laisser cuire doucement pendant 5 min, en remuant constamment.
          </p>
          <h5>Etape7</h5>
            <p>Retirer tout le mélange de la poêle, et rajouter le reste d'huile.
          </p>
          <h5>Etape8</h5>
            <p>Faire chauffer l'huile et y verser le riz.
          </p>
          <h5>Etape9</h5>
            <p>Remuer à la spatule et laisser le riz devenir transparent et crépiter.
          </p>
          <h5>Etape10</h5>
            <p>A ce moment, verser le bouillon très chaud, l'eau des moules et le safran délayé dans un peu d'eau chaude.
          </p>
          <h5>Etape11</h5>
            <p>Remettre tous les ingrédients sauf les petits pois.
          </p>
          <h5>Etape12</h5>
          <p>Porter à ébullition doucement et laisser mijoter 15 min sans remuer.
          </p>
          <h5>Etape13</h5>
          <p>Rajouter les petits pois et le reste de la langouste, puis placer en surface quelques crevettes, moules, coques et morceaux de poulet.
          </p>
          <h5>Etape14</h5>
          <p>Couvrir, et prolongez la cuisson de 5 à 10 min, le riz doit avoir absorbé tout le jus tout en gardant une texture ferme
          </p>
        </div>
        <!--leftBar-->
        <div class="col-3">
          <div class="row ">
            <div class="col ">
              <h3 class="mt-5">Recherche</h3>
              <div class="d-flex flex-column">
                <input type="text" placeholder="recherche..">
                <button type="button" class="btn btn-outline-dark btn-block " width="100%" name="submit">Ok</button>
              </div>
              <h3 class="mt-3">Newsletter</h3>
              <div class="d-flex flex-column">
                <input type="text" placeholder="E-mail...">
                <button type="button" class="btn btn-outline-dark btn-block " width="100%" name="submit">S'inscrire</button>
              <h3 class="mt-3">Partager</h3>
                <ul class="px-2">
                  <li class="fa fa-facebook-square dark px-2"></li>
                  <li class="fa fa-instagram  px-2"></li>
                  <li class="fa fa-youtube-play px-2"></li>
                  <li class="fa fa-twitter px-2"></li>
                </ul>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
      </main>
      <div class="container mb-5">
        <div class="row">

          <div class="col-3">
            <img class="img-recipe" src="./img/recipes/sponsored/dessert1.jpg">
          </div>
          <div class="col-3">
            <img class="img-recipe" src="./img/recipes/sponsored/dessert2.jpg">
          </div>
          <div class="col-3 img-recipe">
            <img class="img-recipe" src="./img/recipes/sponsored/side1.jpg">
          </div>
            

          
        </div>
      </div>
      <!--footer-->
    <footer class="container text-white bg-dark" style="max-width:100%" style="height: 9rem">
      <div class="row d-flex space-between-evenly py-5 px-5">
        <div class="col-sm-4  d-flex flex-column">            
              <h5 >Categories</h5>
             <a class="text-light" href="#">Revues</a>
             <a class="text-light"href="#">Recettes</a>
             <a class="text-light"href="#">découvertes</a>                       
          </div>        
        <div class="col-sm-4 d-flex flex-column">
              <h5 class="">Archives</h5>
              <a class="text-light" href="#">2019</a>
             <a class="text-light" href="#">2018</a>
             <a class="text-light" href="#">2017</a> 
        </div>
          
          <div class="col-sm-4">
            <h3 class="mt-2">Newsletter</h3>
            <div class="d-flex  flex-column">
              <div><input type="text" placeholder="Newsletter">
                <button type="button" class="btn btn-outline-light btn-block " width="100%" name="submit">S'inscrire</button>  
              </div>
              <h3 class="mt-3">Partager</h3>
                <ul class="px-2 ">
                  <li class="fa fa-facebook-square light px-2 "></li>
                  <li class="fa fa-instagram  px-2"></li>
                  <li class="fa fa-youtube-play px-2"></li>
                  <li class="fa fa-twitter px-2"></li>
                </ul>         
            </div>
          </div>
    </footer>
    <script src="../JS/bootstrap.bundle.js"></script>
</body>
</html>